:root {
    --main-background-color: #faedcc;
    --nav-items-background-color: #fff;
    --nav-items-background-color-hover: #888;
    --nav-items-color-hover: #fff;
    --add-recipe-button-background: #888;
    --add-recipe-button-background-hover: #fff;
    --add-recipe-button-text-color: #fff;
    --no-recipes-card-background-color: #888;
    --no-recipes-card-color: #fff;
    --recipes-card-background-color: #888;
    --recipes-card-text-color: #fff;
    --delete-recipe-btn-press-color: #cf3838e7;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* min-height: 100vh;
    min-width: 100vw; */
}




body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-background-color);
}

/* header */
.header-container {
    padding: 3rem;
    text-align: center;
}

#main-heading {
    font-family: 'Borel', cursive;
}


.header-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem;
    list-style: none;
}

.header-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-items-background-color);
    margin: 0.25rem 3rem;
    border-radius: 20px;
}

.header-list-item:hover {
    background-color: var(--nav-items-background-color-hover);
    color: var(--nav-items-color-hover);
}

@media (width < 1025px) {
    .header-nav ul {
        display: flex;
        flex-direction: column;
    }

    .header-list-item {
        padding: 1rem;
    }
}

/* Main body area */
#main-display-container {
    margin-top: 2rem;
}

.display-section-heading {
    padding: 2rem;
    font-weight: 400;
}


/* Add new recipe form */
.new-recipe-form-input {
    margin: 2rem;
    height: 2rem;
    width: 50%;
}

.new-recipe-add-btn {
    border-radius: 20px;
    border: none;
    width: 10em;
    height: 3rem;
    color: var(--add-recipe-button-text-color);
    background-color: var(--add-recipe-button-background);
}

.new-recipe-add-btn:hover {
    color: var(--add-recipe-button-text-color-hover);
    background-color: var(--add-recipe-button-background-hover);
}

/* Search form */
.search-form-text-input {
    height: 2rem;
    min-width: 60%;
}

/* Recipe Display Cards */
.no-recipes-to-display {
    margin: 4rem 9rem;
    padding: 3rem;
    border-radius: 20px;
    color: var(--no-recipes-card-color);
    background-color: var(--no-recipes-card-background-color);
}

.recipe-card-container {
    min-width: 60%;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.recipe-card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: var(--recipes-card-text-color);
    background-color: var(--recipes-card-background-color);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 10rem;
    margin: 2rem;
    position: relative;
}

.recipe-card-delete-btn~a {
    text-decoration: none;
    color: var(--recipes-card-text-color);
}

.recipe-card-delete-btn {
    position: absolute;
    top: 15%;
    left: 85%;
}

.recipe-card-delete-btn:hover {
    color: var(--delete-recipe-btn-press-color);
    cursor: pointer;
}